<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="tests/public/index.php"
        backupStaticAttributes="false"
        backupGlobals="false"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
>
    <testsuites>

        <testsuite name="Integration">
            <directory suffix="Test.php">./tests</directory>
            <exclude>./tests/Base/BaseCase.php</exclude>
            <exclude>./tests/Base/BaseAppCase.php</exclude>
            <exclude>./tests/Base/BaseApiCase.php</exclude>
        </testsuite>

    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
    </php>
    <listeners>
        <listener class="tests\TestListener" file="./tests/TestListener.php"></listener>
    </listeners>
</phpunit>